#userPortrait{
    display:inline-block;
    margin-right:10px;
}
#userName{
    display:inline-block;
}
.character{
    display:inline-block;
    text-align: center;
    margin:5px;
}
.hidden{
    background-image: url("https://www.seekpng.com/png/detail/150-1504471_31kib-732x732-smashball-logo-super-smash-bros-ultimate.png");
    background-size: cover;
    width:100px;
    height:100px;
    display:inline-block;
    margin:5px;
}
.hiddenContainer{
    display:inline-block;
    font-size: large;
}
#characterName{
    font-size: large;
    text-align: center;
}
#characterPortrait{
    width:100px;
    height: 100px;
}
#roster{
    border-style: solid;
    margin:15px
}
#userHeader{
    text-align: center;
    margin:7px;
    
}
#characterList{
    text-align: center;
}
#victoryButton{
    padding:15px;
    margin-top:10px;
    font-size: large;
}
