.userInfo{
    display: inline-block;
}
#userPortrait{
    width:50px;
    height:50px;
    border-radius: 100%;
    margin-bottom: 8px;
    margin-left: 8px;
}
#dashboard{
    background-color: rgb(189, 189, 189);
    min-height:96vh;
}
#header{
    background-color: rgb(124, 124, 124);
    margin-bottom:10px;
}
.content{
    text-align: center;
}

.nav.nav-pills .nav-link.active {
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(124,124,124,1) 50%, rgba(189,189,189,1) 100%);
    color:white;
    text-decoration: underline;
}
.nav.nav-pills .nav-link{
    width:300px;
    font-size: large;
    border-style: double;
    margin:2px;
}
.nav.nav-pills .nav-link:hover{
    text-decoration: underline;
}
.btn-secondary{
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(124,124,124,1) 50%, rgba(160,160,160,1) 100%);
    width:300px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:44px;
    text-align: center;
}

#navPill1, #navPill2, #navPill3, #navPill4, #navPill5, #navPill6, #navPill7, #navPill8 {
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgba(45,45,45,1) 0%, rgba(124,124,124,1) 50%, rgb(160, 160, 160) 100%);
}
.dropdown-menu.show {
    display: block;
    background-color: rgb(202, 202, 202);
}