#userPortrait{
    display:inline-block;
    margin-right:10px;
}
#userName{
    display:inline-block;
}
.character{
    display:inline-block;
    text-align: center;
    margin:5px;
}
.hidden{
    background-image: url(https://ssb.wiki.gallery/images/a/a2/SSBU_spirit_Smash_Ball.png);
    background-size: cover;
    width:100px;
    height:100px;
    display:inline-block;
    margin:5px;
}
.hiddenContainer{
    display:inline-block;
    font-size: large;
}
#characterName{
    font-size: large;
    text-align: center;
}
#characterPortrait{
    width:100px;
    height: 100px;
}
#roster{
    border-style: solid;
    margin:15px
}
#userHeader{
    text-align: center;
    margin:7px;
    
}
#characterList{
    text-align: center;
}
#victoryButton{
    padding:15px;
    margin-top:10px;
    font-size: large;
}
#winnerModal {
    text-align: center;
    background-image: url("https://i.ytimg.com/vi/6dKtIv_YVJA/maxresdefault.jpg");
    animation: glow 1.5s infinite alternate;
}
#winnerPortrait{
    border-radius: 100%;
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px #000000;
    }
    to {
      box-shadow: 0 0 10px 10px #d60303;
    }
  }
#voteModal{
    text-align: center;
}
#yesButton{
    margin:25px;
    font-size: x-large;
    width:100px;
    background-color: rgb(79, 163, 79);
    font-weight: 600;
}
#noButton{
    width:100px;
    margin:25px;
    font-size:x-large;
    background-color: rgb(255, 71, 71);
    font-weight: 600;
}
.fas{
    margin-left:10px;
}